{% extends 'base.html' %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
</style>

{% block content %}
<h1>{% block title %} MoodMunch {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Date</label>
        <input type="date" name="title"
               placeholder="Post title" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>

    <div class="slidecontainer">
        <label for ="title">Hunger Level (1-full, 100-starving):</label><p></p>
        <input type="range" min="1" max="100" value="{{ request.form['title'] }}" class="slider" id="myRange">
        <p>Value: <span id="demo"></span></p>
      </div>

      <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;
        
        slider.oninput = function() {
          output.innerHTML = this.value;
        }
        </script>
    
    <div class="form-group">
        <label for="title">Time of Meal:</label>
        <input type="time" name="title"
               placeholder="Post title" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>
    
    <div class="form-group">
        <label for="content">Notes:</label>
        <textarea name="content" placeholder="Additional Notes"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %}